# Example .env file for project configuration. Use this as a template, and use your
# favorite method to load environment variables (e.g., direnv, dotenvx, etc.)

# docker-compose.yaml
# -----------------------------------------------------------------------------
# https://docs.docker.com/compose/how-tos/environment-variables/envvars/
# COMPOSE_PROFILES=novnc

# Example service (LocalStack) configuration
# LOCALSTACK_GATEWAY_HOST
# LOCALSTACK_GATEWAY_PORT
# LOCALSTACK_EXTERNAL_SERVICES_HOST
# LOCALSTACK_EXTERNAL_SERVICES_PORT_RANGE

# .devcontainer/docker-compose.devcontainer.yaml
# -----------------------------------------------------------------------------
# Workspace configuration
# DISPLAY=

# noVNC service
# NOVNC_DISPLAY_WIDTH=
# NOVNC_DISPLAY_HEIGHT=
# NOVNC_NOVNC_HOST=
# NOVNC_NOVNC_PORT=

# ... environment variables for project application
# -----------------------------------------------------------------------------
