// Use this file to configure the MCP server for this workspace specifically
//
// If you have your favorite personal MCP server, you may prefer to use your User Settings instead,
// as it will be applied to all your workspaces.
//
// * If working inside Dev Container, you need to ensure that the command is available in the container's environment
// * because the command to run the MCP server will be executed inside the container
//
// https://code.visualstudio.com/docs/copilot/chat/mcp-servers
{
    "inputs": [],
    // You can check https://mcpservers.org/ for available MCP servers
    "servers": {
        // TODO(starter-template): Below is just an example configuration. Update it as needed.
        "server-time": {
            "command": "uvx",
            "args": [
                "mcp-server-time",
                "--local-timezone=Asia/Seoul"
            ]
        },
        "memory": {
            "command": "docker",
            "args": [
                "run",
                "--interactive",
                "--volume",
                "mcp-memory:/app/dist",
                "--rm",
                "mcp/memory"
            ]
        }
    }
}
